<section>
    <div>
        <h1>Lorem Ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque gravida neque elit, vel gravida nibh hendrerit eget. Integer pharetra risus in lorem luctus, vitae porta neque lobortis. Sed vel laoreet ante, sed porttitor risus. Pellentesque tincidunt imperdiet ante sit amet aliquet. Etiam non ligula id diam hendrerit venenatis. Sed accumsan in mi eu pulvinar. Mauris vel fermentum quam.</p>
        <a href="" class="button"><span>Armory</span></a>
    </div>
</section>

<section>
    <div>
        <h2>Lorem Ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque gravida neque elit, vel gravida nibh hendrerit eget. Integer pharetra risus in lorem luctus, vitae porta neque lobortis. Sed vel laoreet ante, sed porttitor risus. Pellentesque tincidunt imperdiet ante sit amet aliquet. Etiam non ligula id diam hendrerit venenatis. Sed accumsan in mi eu pulvinar. Mauris vel fermentum quam.</p>
    </div>
    <!-- <img src="" alt=""> -->
</section>

<section>
    <div>
        <h2>Search<br/> the Armory!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque gravida neque elit, vel gravida nibh hendrerit eget. Integer pharetra risus in lorem luctus, vitae porta neque lobortis. Sed vel laoreet ante, sed porttitor risus. Pellentesque tincidunt imperdiet ante sit amet aliquet. Etiam non ligula id diam hendrerit venenatis. Sed accumsan in mi eu pulvinar. Mauris vel fermentum quam.</p>
    </div>
    <div>
        <h2>Plan Out<br/> Your Base Build!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque gravida neque elit, vel gravida nibh hendrerit eget. Integer pharetra risus in lorem luctus, vitae porta neque lobortis. Sed vel laoreet ante, sed porttitor risus. Pellentesque tincidunt imperdiet ante sit amet aliquet. Etiam non ligula id diam hendrerit venenatis. Sed accumsan in mi eu pulvinar. Mauris vel fermentum quam.</p>
    </div>
</section>